
<div class="card" style="width: 30rem;">
  <meta charset="utf-8">
      <div class="card-body">
        <h5 class="card-title">Edytuj projekt</h5>
			<form method="POST">
				<div class="form-group">
					<label for="nazwa" >Nazwa</label>
					<input type="text" class="form-control" name="nazwa" />
				</div>
				<div class="form-group">
					<label for="opis" >Opis</label>
					<input type="text" class="form-control" name="opis" />
				</div>
				<div class="form-group">
					<label for="datautworzenia">Data utworzenia</label>
					<input type="text" class="form-control" name="data_utworzenia"/>
				</div>
				<div class="form-group">
					<label for="dataoddania"> Data oddania</label>
					<input type="text" class="form-control" name="data_oddania"/>
				</div>
				<button type="submit" class="btn btn-primary">Edytuj</button>
			</form>
      </div>
</div>
